<div class = "container">
  <footer class = "footer">
    <div class = "row">
      <small> Copyright &copy; Sample Ruby on Rails Blog by Prince Gaikwad</small>
      <nav>
        <ul>
          <li><%= link_to 'about', about_path %></li>
        </ul>
      </nav>
   </div>
 </footer>
</div>